name: Build image and publish

on:
  push:
    branches: [ "main" ]
    
  workflow_dispatch:

jobs:
  build:
    name: build and push image
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: hashicorp-contrib/setup-packer@v3.0.1
      # with:
        # github-token: # optional, default is ${{ github.token }}

    - name: Connect Tailscale
      uses: tailscale/github-action@v2
      with:
        # Your Tailscale authentication key, from the admin panel.
        authkey: ${{ secrets.TS_AUTHKEY }}
        hostname: temp-runner

    - name: turn off existing vm
      run: |
          curl -k -X POST   -H 'Authorization: PVEAPIToken=${{ secrets.PROXMOX_TOKEN_ID }}=${{ secrets.PROXMOX_KEY }}'   "${{ secrets.PROXMOX_ENDPOINT }}/nodes/ermes/qemu/140"


    - name: delete existing vm
      run: |
          curl -k -X DELETE   -H "Authorization: PVEAPIToken=${{ secrets.PROXMOX_TOKEN_ID }}=${{ secrets.PROXMOX_KEY }}"   "${{ secrets.PROXMOX_ENDPOINT }}/nodes/ermes/qemu/140"

    - name: packer init
      run: |
          packer init .

    - name: build packer image
      run: |
          packer build -var 'api_url=${{ secrets.PROXMOX_ENDPOINT }}' -var 'token_id=${{ secrets.PROXMOX_TOKEN_ID }}' -var 'token_secret=${{ secrets.PROXMOX_KEY }}' -var 'base_passwd=${{ secrets.BASE_PASSWD }}' -var 'vm_id=140' .
