name: Build image in dev env

on:
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    name: build and push image
    runs-on: self-hosted 

    steps:
    - uses: actions/checkout@v4

    - name: ls
      run: |
        ls
        cat *

    - name: turn off existing vm
      run: |
          curl -k -X POST   -H 'Authorization: PVEAPIToken=${{ secrets.PROXMOX_TOKEN_ID }}=${{ secrets.PROXMOX_KEY }}'   "${{ secrets.PROXMOX_ENDPOINT }}/nodes/ermes/qemu/301/status/shutdown"

    - name: delete existing vm
      run: |
          curl -k -X DELETE   -H "Authorization: PVEAPIToken=${{ secrets.PROXMOX_TOKEN_ID }}=${{ secrets.PROXMOX_KEY }}"   "${{ secrets.PROXMOX_ENDPOINT }}/nodes/ermes/qemu/301"

    - name: packer init
      run: |
          packer init .

    - name: build packer image
      run: |
          packer build -var 'api_url=${{ secrets.PROXMOX_ENDPOINT }}' -var 'token_id=${{ secrets.PROXMOX_TOKEN_ID }}' -var 'token_secret=${{ secrets.PROXMOX_KEY }}' -var 'base_passwd=${{ secrets.BASE_PASSWD }}' -var 'vm_id=301' .

